body {
  font-family: "Roboto", sans-serif; /* Google Font 1 */
}

header,
nav,
section,
footer {
  margin: 20px;
  padding: 20px;
  border: 5px solid #630c0c;
}

nav ul {
  list-style-type: none;
  margin: 15;
  padding: 10px;
  overflow: hidden;
  background-color: #4e2222;
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #0b0edf;
  color: rgb(22, 97, 27);
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

footer {
  margin-top: 20px;
  text-align: center;
  font-style: italic;
  color: #060202;
}
